


.text {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    text-align: center;
    line-height: 200%;}
.text-2__child {

color: aquamarine;




}















